.side-avatar{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.text-content{
    text-align: center;
    margin-top: 1rem;
}

.sidebar-list{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.major-content{
    margin-top: 5rem;
}

.detail-cards{
    display: flex;
    margin-top: 2rem;
}