.id-card-heading{
    background-color: #00264d;
    color: white;
    font-family: 'Poppins';
    font-size: 1.5rem;
    text-align: center;
}

.content-box{
    font-family: 'Poppins';
}

.upload-btn{
    background: #00264d;
    color: white;
    padding: 0.6rem;
    border-radius: 15px;
    margin-left: 2rem;
    cursor: pointer;
}

